<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/untitled_design_fotor_bg_remover_2023050703043"
        android:label="kinderShot"
        android:roundIcon="@drawable/untitled_design_fotor_bg_remover_2023050703043"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyChatGPT"
        tools:targetApi="31">
        <activity
            android:name=".daVinci"
            android:exported="false"
            android:parentActivityName=".indexScreen"
            />
        <activity
            android:name=".feedback"
            android:exported="true" />
        <activity
            android:name=".About"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".splashScreen"
            android:exported="true" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity
            android:name=".indexScreen"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:parentActivityName=".splashScreen"
            tools:ignore="IntentFilterExportedReceiver">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>